@use "@/assets/styles/index" as *;

/* 로그인 페이지 전용 스코프 */
.login-card {
  /* 좌측 비주얼 */
  &__visual {
    /* 너비/높이는 공통(.auth-inner-left/right)에서 이미 처리됨 */
    background-color: $accent;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* 우측 본문 */
  &__body {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $font-base;
  }

  &__subtitle {
    color: $font-title;
  }
  &__title {
    color: $font-title;
    font-weight: bold;
  }
}

/* 로그인 폼 */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__meta {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 20px;

    a {
      color: $main;
      text-decoration: none;
      &:hover {
        color: $main-dark;
      }
    }

    label {
      color: $gray-666;
    }
  }

  &__input,
  &__submit {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
  }

  &__input {
    padding: 0 20px;
    border: 2px solid $gray-ddd;
    font-size: 18px;
    color: $main;
    font-weight: bold;

    &::placeholder {
      color: $font-light;
    }

    &:focus {
      border: 2px solid $main-light;
      outline: 5px solid $main-light;
    }
  }

  &__submit {
    border: 0;
    background-color: $main;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $main-dark;
    }
  }
}
