@use "@/assets/styles/index" as *;

/* ============================================
   FOOTER 스타일
   ============================================ */
$logo-gap: 2.5rem;

.main-footer {
  width: 100%;
  min-width: 1024px;
  box-sizing: border-box;
  padding-block: 1.5rem;
  background-color: $accent;

  display: flex;
  align-items: center;
  justify-content: center;

  .footer-inner {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include pc {
      width: 1400px;
    }
    @include tab {
      width: 1024px;
    }
    @include mob {
      width: 100%;
      min-width: 320px;
    }

    > .left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;

      img {
        height: 2rem;
        margin-right: $logo-gap;
        flex-shrink: 0;
      }
    }
  }
}
