@use "@/assets/styles/index" as *;

/* ============================================
   FOOTER 전용 PLACEHOLDERS
   ============================================ */
%flex-center {
  display: flex;
  align-items: center;
}

/* ============================================
   FOOTER 스타일
   ============================================ */
// 로컬 변수
$logo-gap: 2.5rem;

.main-footer {
  width: 100vw;
  min-width: 1024px;
  box-sizing: border-box;
  padding-block: 1.5rem;
  background-color: $accent;

  @extend %flex-center;
  justify-content: center;

  .footer-inner {
    height: auto;
    @extend %flex-center;
    @extend %container-width;
    justify-content: space-between;

    > .left {
      @extend %flex-center;
      justify-content: flex-start;
      gap: 2rem;

      img {
        height: 2rem;
        margin-right: $logo-gap;
        flex-shrink: 0;
      }
    }
  }
}
