@use "@/assets/styles/index" as *;

// ----------------------------------------------------
// Helpers
// ----------------------------------------------------
// 1024px 컨테이너: 가로 중앙 정렬 + 반응형 가득 차되 최대 1024
%container {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
}

// ----------------------------------------------------
// Auth
// ----------------------------------------------------
.auth-bg {
  width: 100vw;
  min-width: 1024px; // 필요 없다면 제거 가능
  min-height: calc(100vh - 80px); // 부모 높이에 의존하지 않도록 100vh 기준으로
  background-color: $bg;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-card {
  @extend %container;
  height: 600px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0 15px 25px #00000026, 0 5px 10px #0000000d;
  margin: 60px 0;

  display: flex;

  // 좌/우 2분할
  .auth-inner-left,
  .auth-inner-right {
    width: 50%;
    height: inherit;
  }

  .auth-inner-left {
    background-color: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-inner-right {
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
