// ==========================================
// 미디어쿼리
// ==========================================
$breakpoint-pc: 1400px;
$breakpoint-tab: 1024px;
$breakpoint-mob: 320px;

@mixin pc {
  @media (min-width: #{$breakpoint-pc}) {
    @content;
  }
}

@mixin tab {
  @media (min-width: #{$breakpoint-tab}) and (max-width: #{$breakpoint-pc - 1}) {
    @content;
  }
}

@mixin mob {
  @media (min-width: #{$breakpoint-mob}) and (max-width: #{$breakpoint-tab - 1}) {
    @content;
  }
}
