// ==========================================
// 색상 변수
// ==========================================
$main: #5f9ea0;
$main-dark: #4d9294;
$main-light: #cadfdf;

$accent: #90cbcd;
$bg: #ebf7f8;

$font-base: #333333;
$font-light: #bbbbbb;
$font-title: #555555;

$white: #ffffff;
$red: #db3535;
$yellow: #ffc422;

$gray-666: #666666;
$gray-999: #999999;
$gray-ddd: #dddddd;

// ==========================================
// Typography 변수
// ==========================================
$font-family-title: "OneMobileTitle", sans-serif;
$font-family-body: "NotoSansKR", sans-serif;

// Font Size
$font-sizes: (
  h1: 36px,
  h2: 30px,
  h3: 24px,
  h4: 20px,
  h5: 16px,
  h6: 14px,
);

// Font Weight
$font-weights: (
  regular: 300,
  semibold: 600,
);

// Typography Base
$font-size-base: 16px;
$leading: 1.7;
$font-color-base: #222;
