// Styles 공통 변수
$main: #5f9ea0;
$main-dark: #4d9294;
$main-light: #cadfdf;

$accent: #90cbcd;
$bg: #ebf7f8;

$font-base: #333333;
$font-light: #bbbbbb;
$font-title: #555555;

$white: #ffffff;
$red: #db3535;
$yellow: #ffc422;

$gray-666: #666666;
$gray-999: #999999;
$gray-ddd: #dddddd;
